.head{
    width: 100%;
    background-color: #B85B14;
    color: #3D1C00;
    height: 50px;
    text-align: center;
    border-radius: 12px;
}

.btn{
    height: 40px;
    width: 80%;
    background-color: olive;
    color: #3D1C00;
    border-radius: 12px;
    border-color: #B85B14;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 30px;
}

#start-btn{
    width: 90px;
    height: 60px;
    background-color: #B85B14;
    color: #3D1C00;
    border-radius: 12px;
    margin-top: 40px;
    margin-left: 90px;
    border-color: olive;
    font-size: 20px;
    font-weight: bold;

}
#start-btn:hover{
    border-color: yellow;
}

#next-btn{
    width: 90px;
    height: 60px;
    background-color: #B85B14;
    color: #3D1C00;
    border-radius: 12px;
    border-color: #B85B14;
    font-size: 20px;
    font-weight: bold;
   
}

.container{
    width: 400px;
    height: 400px;
    margin-top: 90px;
    margin-left: 300px;
    background-color: darkslategray;
}
#question{
    margin-left: 20px;
    padding-top: 30px;
    font-size: 20px;
    color: #B85B14;
    margin-bottom: 20px;
}

.btn-grid{
    display: grid;

}
.btn:hover{
    border-color: yellow;
}

.hide{
    display: none;
}

#count{
    background-color: darkslategray;
    color: #B85B14;
    font-weight: bold;
    font-size: 20px;
    width: 25%;
    text-align: center;
    border-radius: 8px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}